fastapi
uvicorn
sqlalchemy
pg8000
motor
pymongo
python-jose
passlib[bcrypt]
python-multipart
openai
langchain
langchain-openai
langchain-community
chromadb

pymupdf
python-docx
apscheduler
python-dotenv
pandas
pydantic-settings
slowapi
pydantic[email]
